/* General */
body{
    overflow: hidden;
    background: url('imgs/snow.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Structural */
.abs_holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ms{
    position: absolute;
    z-index: 2;
    right: 2rem;
    top: 0.5rem;
}

.ms_alt{
    position: absolute;
    z-index: 2;
    left: 1rem;
    top: 0.5rem;
}

.flexy{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flexxx{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.text_dump{
    width: 75%;
    padding: 1rem;
    height: auto;
    overflow: auto;
}

/* Aesthetic */

.pretty{
    color: crimson;
    text-decoration: none;

    padding: 0.5rem;
    border-width: 0.1rem;
    border-style: ridge;
    border-color: crimson;
}
.pretty:hover{
    color: rgb(224, 105, 129);

    border-style: dashed;
    border-color: rgb(224, 105, 129);
}

.prettyalt{
    color: crimson;
    text-decoration: underline;
}

.prettyalt:hover{
    color: lightpink;
    text-decoration: none;
}

.boring{
    color: darksalmon;
    text-decoration: underline;
}

.boring:hover{
    color: darkkhaki;
    text-decoration: none;
}

.gen_text{
    color: rgb(0, 0, 0);
}

.gen_header{
    color: orangered;
}
/* Text Specific */


.t1{
    /* font-family: monospace; */
    font-size: 0.8rem;
}

.t2{
    /* font-family: monospace; */
    font-size: 1.0rem;
}

.t3{
    /* font-family: monospace; */
    font-size: 1.2rem;
}

.t4{
    /* font-family: monospace; */
    font-size: 1.6rem;
}

.t5{
    /* font-family: monospace; */
    font-size: 2rem;
}

@media only screen and (max-width:600px){
    html{
        overflow: hidden;
    }
    body{
        overflow: hidden;
    }
    .abs_holder {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .flexy{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    .text_dump{
        width: 75%;
        padding: 1rem;
        height: auto;
        overflow: hidden;
    }

}